<h1>{{title}}</h1>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<p>Welcome to {{title}}</p>
<img src="/images/cinema.jpg" alt="home pic">

<body>
    <div class="header-wrapper">
        <div class="text-wrapper">
            <h1>Cinema <br>Ironhack</h1>
            <a href="/movies"> Check the movies!</a>
        </div>

    </div>
</body>